.dropdown-search
  span.search-icon(ng-if="!searching && !search")
    i.fa.fa-lg.fa-search
  input.form-control(ng-model="search"
    ng-focus="searching=true"
    ng-blur="searching=false")
  button.btn.btn-info(ng-click="add()")
    i.fa.fa-plus
