article.account-article
  form(ng-submit='create.createAccount()')
    .change-values
      section.account-column(sf-schema='create.schema'
        sf-form ="create.form"
        sf-model='create.model')
    section.button-bar
      button.btn.btn-warning(type='reset') Reset
      button.btn.btn-info(type='submit') Submit

